.topic-section {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 1rem;
  background: hsla(0, 0%, 100%, 0.03);
  color: white;
}
.topic-section img {
  background-color: black;
  width: 100%;
  border-radius: 6px;
}
.topic-section button {
  padding: 1rem;
  width: 100%;
  font-size: 1.2rem;
  background-color: aqua;
  border: 1px solid gray;
  font-weight: 700;
  border-radius: 6px;
  background: hsla(0, 0%, 100%, 0.03);

  transition: all 0.5s;

  color: white;
}

.topic-section button:hover {
  background: rgba(116, 80, 254, 0.7);
}
button .arrow {
  background-color: none;
  font-size: 1rem;
}
